body {
    background-color: rgb(36, 36, 36);
    height: 200vh;
}
#sentence {
    color: rgb(177, 177, 177);
}
p {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 25px;
}
.outer {
    padding-top: 20px;
    padding-left: 100px;
}
textarea {
    background-color: rgb(57, 57, 57);
    border: none;
    font-size: 20px;
    color: #b8d73c;
}
#submitBtn {
    background-color: #b8e200;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 16px;
    border: 2px solid yellowgreen;
}
#submitBtn:hover {
    box-shadow: 2px 2px 10px goldenrod;
}
.h1-head {
    color: rgb(255, 247, 100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}
.h1-head i {
    padding-top: 15px;
    color: rgb(218, 230, 255);
}
marquee {
    color: rgb(0, 255, 204);
    font-size: 20px;
    padding-left: 600px;
    font-family: sans-serif;
    
}
.result {
    transition: 2s ease-in-out;
    border: 2px solid rgb(0, 0, 125);
    box-shadow: 0 0 10px rgb(79, 0, 157);
}

.timer {
    color: rgb(206, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-top: 50px;
    font-weight: 400;
    background-color: #9ee200;
    display: inline-block;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 20px goldenrod;
    
}
.para {
    width: 70vw;
}
hr {
    width: 90vw;
}